html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  text-decoration: none;
}

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: max-width; /* 1 */
  margin-left: auto; /* 2 */
  margin-right: auto; /* 2 */
  padding-left: 20px; /* 3 */
  padding-right: 20px; /* 3 */
  width: 100%; /* 1 */
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.header__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__nav-item {
  display: inline-block;
}

.header__nav-link {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}

.header__container {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
}

body {
  background-color: #9B1B30;
}

.header__logo {
  display: inline-block;
  text-decoration: none;
  border: 2px solid transparent;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.header__logo:focus {
  outline: none; /* Remove default focus outline */
  background-color: #f0e68c; /* Light yellow background */
  border-color: #ff4500; /* Red-orange border */
}

.header__logo:focus svg path {
  fill: #ff4500; /* Change the color of paths inside SVG */
}

.header__logo:focus text {
  fill: #ffffff; /* Change the text color */
}

.bookclub__sticky-note {
  font-family: "Reenie Beanie";
  font-weight: bold;
  font-size: 2rem;
  background: #ffc;
  display: block;
  height: 10em;
  width: 10em;
  padding: 1em;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  transform: rotate(-6deg);
  position: absolute;
  top: 10%;
  right: 18%;
}

body {
  background-color: #9B1B30;
  font-family: "Montserrat";
}

.hero {
  background-image: url("/images/kniznica_backround (small).jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__container {
  text-align: center;
  width: 60%;
  max-width: 800px;
  margin: 30px 0;
  background-color: rgba(217, 217, 217, 0.77); /* Semi-transparent white overlay */
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.hero__text-container {
  margin: 0 auto;
  max-width: 70%;
}

.hero__text {
  font-size: 24px;
  line-height: 1.5;
  color: #333;
  margin-bottom: 20px;
  font-weight: 600;
}

.bookclub__card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
}

.bookclub__item {
  position: relative; /* Container for positioning */
  width: 80%; /* Set a default width for the book */
  max-width: 1200px; /* Limit the maximum size to mimic a real book */
}

.bookclub__image {
  max-width: 100%;
  display: block;
}/*# sourceMappingURL=style.css.map */