@use '../base/colors.scss';
@use '../base/fonts.scss';
@use '../components/logo';

/* General Styles */

.hero-book {
    display: flex;
    justify-content: center;
    align-items: center;
    container-type: inline-size;
   
    
}


.hero-book__container{
    display: flex;
    margin: 10% auto;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
    max-width: 900px;
    width: 90%;
    border-radius: 12px;
}

.hero-book__imagebox,
.hero-book__description-box{
    flex: 1 0 50%;
    max-width: 450px;
    
}


.hero-book__imagebox{
    container-type: box-size;
    background-image: url('/images/November\'s\ picks_cody-board-UMlXDGxY6Kc-unsplash\ \(1\)\ \(1\).jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%; 
    aspect-ratio: 2/3;
    border-radius: 12px 0 0 12px; 
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
}

.hero-book__frame{
    border: 3px solid white;
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    text-align: center;


}

.hero-book__img-title{
    color: white;
    background-color: #373a30;
    font-size: 1.8em;
    padding: 7%;
    text-align: center;
}

.hero-book__description-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    background-color: #f4f4f4;
    border-radius: 0 12px 12px 0;
}

.hero-book__title{
    color: colors.$secondary-color;
    font-size: 2rem;
}

.hero-book__description-text{
    font-size: 1.5rem;
    margin-bottom: 1rem;

}


// Responsive Design Based on Container Ratios
@container (max-width: 700px) {
    .hero-book__container {
        flex-direction: column;
        margin: 10% auto;
        max-width: 90%;
        align-items: center;
        width: 95%
       
    }


    .hero-book__imagebox {

        max-width: 100%;
        border-radius: 12px 12px 0 0; 
    }

    .hero-book__description-box {
        max-width: 100%;
        width: 100%;
        padding: 1rem;
        border-radius: 0 0 12px 12px; 
    }


    .hero-book__title {
        font-size: 1.5rem;
    }

    .hero-book__author {
        font-size: 1.2rem;
    }

    .hero-book__description-text {
        font-size: 0.9rem;
    }
}
