@use '../base/colors.scss';
@use '../base/fonts.scss';



.faq {
    display: grid;
    place-items: center;
    background-color: colors.$primary-color;
    min-height: 100vh; /* Full viewport height */
    margin: 0; 
    max-height: 100%;
  
}

.faq__title-main {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: bold;
}

.faq__description{
    font-size: 1.2rem;

}

.faq__figure {
    margin: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    order: -1;
}

.faq__image{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}


.faq__card {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 70.5rem;
    border-radius: 1.5rem;
    box-shadow: 0px 50px 50px -20px rgba(0, 0, 0, 1.0);
    width: min(100%,calc(100% - 50px));
    gap: 1rem;
    margin: 40px auto;

}

.faq__container{
    padding: 20px;
    flex: 0 1 auto;
}

.faq__item{
    border-bottom: 1px solid colors.$secondary-color;
    padding-block: 16px;

    &[open] {
        >.faq__question{
            font-weight: 700;
       
       &::after{
        rotate: 180deg;
       }
        }
    }
    
}
.faq__question{
    font-size: 1.2rem;
    color: rgb(30, 26, 26);
    list-style: none;
    cursor: pointer;
    position: relative;
    
    &:hover,
    &:focus-visible{
        color: colors.$hover-color;
    }
    &::after{
        content: "";
        position: absolute;
        width: 20px;
        height: 100%;
        right: 0;
        top: 0;
        background-image: url(/images/red-arrow-down-11380.svg);
        background-repeat: no-repeat;
        background-size: contain; 
        background-position: center;
        transition: transform .25s linear;
        display: none;
    }

}

@media screen and (min-width:1200px){
    .faq__card {
        flex-direction: row; 
    }

    .faq__figure {
        order: 0; 
    }

    .faq__container {
        padding: 65px 65px 65px 0; 
        flex: 0 1 70%; 
    }

    .faq__question::after {
        display: block; /* Remove the arrow background for larger screens */
        
    }

}


    