@use '../base/colors.scss';

.faq {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.faq__title-main {
    font-size: 40px;
    line-height: 1.5;
    font-weight: bold;
}

.faq__figure {
    margin: unset;
}

.faq__image{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.faq__question {
    font-size: 20px;
    color: rgb(30, 26, 26);
    list-style: none;
}

.faq__card {
    display: flex;
    background-color: white;
    max-width: 70.5rem;
    border-radius: 1.5rem;
    box-shadow: 0px 50px 50px -20px rgba($color: #000000, $alpha: 1.0);
    width: min(100%,calc(100% - 10px));
    gap: 0 1rem;

}

.faq__container{
    padding: 65px 95px 65px 0;
}

.faq__item{
    border-bottom: 1px solid colors.$secondary-color;
    padding-block: 16px;

    &[open] {
        >.faq__question{
            font-weight: 700;
        }
    }
    
}
.faq__question{
    cursor: pointer;
    position: relative;
    
    &:hover,
    &:focus{
        color: colors.$hover-color;
    }
    &::after{
        content: "";
        position: absolute;
        width: 10px;
        height: 100%;
        right: 0;
        top: 0;
        background-color: url(../../images/red-arrow-down-11380.svg);
    }


}


    