// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
@use '../base/colors';
@use '../base/fonts';



.header {
  width: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
}

.header__container{
  display: flex;
  // background-color: white;
  background-color: colors.$primary-color;

  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

  
.menu__link {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-family: fonts.$font-base;
  color: white;
  }

.menu__item--active,
.menu__item.focus-within {
  background-color: #ff4500;
}

.menu__item--active >.menu__link,
.menu__item:focus-within {
    background-color: #ff4500;
    color: whitesmoke;
    }

  .menu__link:hover, 
  .menu__item:hover, {
    background-color: colors.$hover-color;
  }

.menu{
  position: relative;
}

.menu__checkbox {
  position: absolute;
  left: -9999999px;
}

.menu__checkbox:checked~ .menu__list {
  display: block;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  z-index: 999; /* Ensure it appears above other elements */
  background-color: colors.$secondary-color; /* Set the background color */
  overflow-y: auto; /* Allow scrolling if content exceeds viewport */



}

.menu__toggler {
  cursor: pointer;
  z-index: 1000;
}

.menu__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: colors.$secondary-color;
  transition: transform 0.3s ease;

    }

.menu__item { 
  border-bottom: 1px solid whitesmoke;
    }



@media screen and (min-width: 800px) {
  .menu__toggler{
    display: none;
  }

  .menu__list {
    display: flex !important;
    position: static; /* Remove fixed positioning */
    width: auto; /* Menu occupies only necessary space */
    height: auto; /* Reset height */
    flex-direction: row; /* Horizontal layout */
  }
  .menu__item { 
    border-bottom:0;
    border-right: 1px solid whitesmoke;
      }
}

 



